$mint: #ddffe7;
$page-background: #E6FDF6;
$spearmint: #98d7c2;
$light-teal-green: #17a9ab;
$medium-teal-green: #1a9597;
$teal-green: #167d7f;
$dark-teal-green: #0d6c6d;
$teal: #29a0b1;

.cytoscapePanel {
   grid-area: 1/1/9/8;
   margin-left: 0.5vw;
   margin-top: 0.5vw;
   margin-bottom: 0.5vw;
   border-radius: 5px;
   background-color: #FFFFFF;
}