
.firstLineContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-area: 1/1/13/9;
  height: 100%;
  width: 100%;
  gap: 1rem;

  .cytoscapePanel {
    display: grid;
    grid-area: 1/5/8/13
  }
}

// tooltip styles


