
.frame {
   --shadow-color: 180deg 34% 52%;
   --shadow-elevation-medium:
     -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.6),
     -1.1px 1.4px 2px -0.8px hsl(var(--shadow-color) / 0.6),
     -2.8px 3.4px 5px -1.7px hsl(var(--shadow-color) / 0.6),
     -6.9px 8.2px 12.1px -2.5px hsl(var(--shadow-color) / 0.6);

   display: block;
   height: 100%;
   width: 100%;
   box-shadow: var(--shadow-elevation-medium);
   background-size: cover;
}

.frame:hover {
   cursor: pointer;
}

.dumbFrame {
   --shadow-color: 180deg 34% 52%;
   --shadow-elevation-medium:
     -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.6),
     -1.1px 1.4px 2px -0.8px hsl(var(--shadow-color) / 0.6),
     -2.8px 3.4px 5px -1.7px hsl(var(--shadow-color) / 0.6),
     -6.9px 8.2px 12.1px -2.5px hsl(var(--shadow-color) / 0.6);

   display: block;
   height: 100%;
   width: 100%;
   box-shadow: var(--shadow-elevation-medium);
   background-size: cover;
}