$mint: #ddffe7;
$page-background: #E6FDF6;
$spearmint: #98d7c2;
$teal-green: #167d7f;
$teal: #29a0b1;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  background-color: $page-background;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0
}

svg {
  overflow: visible !important;
}

@media (max-width: 1024px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
}