$mint: #ddffe7;
$page-background: #E6FDF6;
$spearmint: #98d7c2;
$teal-green: #167d7f;
$teal: #29a0b1;

// mobile phones
@media (max-width: 420px) {
   .hero {
      display: flex;
      width: 100%;
   }

   .codeEditor {
      display: none !important
   }

   .iconsRow {
      margin-top: 5vh;
      margin-bottom: 5vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }

   .heroTextWrapper {
      display: flex;
      flex-direction: row;
      padding-inline: 2.5vw !important;

      .heroText {
         display: flex;
         flex-direction: column;

         .headerText {
            font-size: 15vw !important;
            font-weight: 500 !important;
            color: $teal-green
         }

         .subheaderText {
            display: inline-block;
            font-size: 7vw !important;

            .heartIcon {
               display: inline-block;
               height: 5vw;
            }
         }
      }

      .buttonRow {
         display: none
      }
   }

}

// iPads and tablets
@media (max-width: 1024px), (orientation: portrait), (pointer: coarse) {
   .hero {
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   .codeEditor {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 35vh;
      min-height: 35vw;
      margin-bottom: 5vh;
      margin-top: 2vh;
   }

   .heroTextWrapper {
      display: flex;
      flex-direction: row;
      padding-inline: 9vw;

      .heroText {
         display: flex;
         flex-direction: column;

         .headerText {
            font-size: clamp(40px, 9vw, 80px);
            font-weight: 500;
            color: $teal-green
         }

         .subheaderText {
            display: inline-block;
            font-size: clamp(20px, 4.5vw, 40px);

            .heartIcon {
               display: inline-block;
               height: clamp(20px, 4vw, 40px);
            }
         }
      }

      .buttonRow {
         display: none
      }
   }
}

// small laptops
@media (min-width: 1025px) and (pointer: fine) {
   .hero {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 90vw;
      padding-inline: 5vw;
      align-items: center;
   }

   .heroFirstLine {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 24vh
   }

   .iconsRow {
      margin-top: 8vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }

   .codeEditor {
      display: flex;
      justify-content: center;
      height: 250px;
   }

   .heroTextWrapper {
      display: flex;
      flex-direction: row;
      padding-left: 3vw;
      max-width: 40vw;

      .heroText {
         display: flex;
         flex-direction: column;

         .headerText {
            font-size: 4.5vw;
            font-weight: 500;
            color: $teal-green
         }

         .subheaderText {
            display: inline-block;
            font-size: 2vw;

            .heartIcon {
               display: inline-block;
               height: 1.8vw;
            }
         }
      }

      .buttonRow {
         display: flex;
         height: 4.8vh;
         gap: 2vw;
         margin-top: 4vh;
      }
   }
}


// large laptops
@media (min-width: 1200px) and (pointer: fine) {

   .hero {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 90vw;
      padding-inline: 5vw;
      align-items: center;
   }

   .heroFirstLine {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 24vh
   }

   .iconsRow {
      margin-top: 8vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }

   .codeEditor {
      display: flex;
      justify-content: center;
      height: 20vw;
      min-width: 30vw;
   }

   .heroTextWrapper {
      display: flex;
      flex-direction: row;
      padding-left: 5vw;
      max-width: none;

      .heroText {
         display: flex;
         flex-direction: column;
         max-width: 30vw;

         .headerText {
            font-size: 4vw;
            font-weight: 500;
            color: $teal-green
         }

         .subheaderText {
            display: inline-block;
            font-size: 1.6vw;

            .heartIcon {
               display: inline-block;
               height: 1.6vw;
            }
         }
      }

      .buttonRow {
         display: flex;
         height: 2.5vw;
         gap: 2vw;
         margin-top: 2vh;
      }
   }
}