$mint: #ddffe7;
$page-background: #E6FDF6;
$spearmint: #98d7c2;
$teal-green: #167d7f;
$dark-teal-green: #116265;
$teal: #29a0b1;

// mobile, iPad, and tablets
@media (max-width: 1024px), (orientation: portrait), (pointer: coarse) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 5vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 90vw;
    font-size: clamp(18px, 3vw, 40px);
  }

  .links {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s
  }

  .links:hover {
    color: $dark-teal-green;
    transition: 0.2s;
  }
}

// laptops
@media screen and (min-width: 1025px) and (pointer: fine) {
  .navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: start;
    gap: 3vw;
    margin-left: 4vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 1.4vw;
  }

  .links {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s
  }

  .links:hover {
    color: $dark-teal-green;
    transition: 0.2s;
  }
}