
$mint: #ddffe7;
$page-background: #E6FDF6;
$spearmint: #98d7c2;
$teal-green: #167d7f;
$teal: #29a0b1;

.projectPage {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   font-family: 'Roboto', sans-serif;

   .pageContent {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 70%;
      padding-inline: 15%;
   }

   .photoGallery {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100%;
   }

   .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      height: 100%;
      font-size: 4vw;
      padding-left: 3vw;

      .header {
         display: flex;
         font-size: 100%;
         font-weight: 400;
         color: $teal-green;
      }

      .subheader {
         display: flex;
         font-size: 35%;
         font-weight: 500;
      }

      .techIcons {
         display: flex;
         align-items: center;
         height: 11%;
         // background-color: orange;
         margin-top: 4%;
         margin-bottom: 2.5%;
         gap: 2vw;
      }

      .pointers {
         display: flex;
         font-size: 30%;
         font-weight: 300;

         ul {
            padding-inline-start: 20px;
            li {
               margin-top: 1.5%;
            }
         }
      }
   }
}