// mobile and iPad
@media (max-width: 1024px) {

   .iconsRow {
      margin-top: 5vh;
      margin-bottom: 2vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }
}


@media (min-width: 415px) and (pointer: coarse) and (orientation: landscape) {
   .iconsRow {
      margin-top: 10vh;
      margin-bottom: 0vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }
}


@media (min-width: 1025px) and (pointer: fine) {
   .iconsRow {
      margin-top: 8vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }
}

@media (min-width: 1200px) and (pointer: fine) {
   .iconsRow {
      margin-top: 8vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6vh;
      gap: 5vw;
      justify-content: center;
   }
}

.iconsWindow {
   display: flex;
   position: relative;
   flex-direction: row;
   width: 100vw;
   overflow: hidden;
   left: -5vw;
}